<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Person Page</title>
</head>
<body>
  <h2>Update Person Form</h2>
  <form th:action="@{/update}"
        th:object="${person}" method="POST">
    <input type="hidden" th:field="*{id}" />
    First Name:<input type="text" th:field="*{firstname}" />
    <br/>
    Last Name:<input type="text" th:field="*{lastname}" />
    <br/>
    <input type="submit" value="Update person" />
    <br/>
    <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">...</div>
  </form>
</body>
</html>